@CHARSET "UTF-8";

.navbar-custom {
    background-color: transparent;
}

.body-custom {
    background-image: url(IMAGE/bg-blackdesk.jpg);
    background-attachment: fixed;
    background-repeat:;
}

.thumbnail {
    filter:blur(.50);
}